	<div class="content">
			<div class='container'>
				<div class="content-body">
					<div class="filter">
						<div class="filter-body">
							<div class="filter-modules">
								<div class="filter-module">
									<div class="filter__label">Категории</div>
									<ul class="filter-menu">
										<li><a href="" class="filter-menu__link">Кольца</a></li>
										<li><a href="" class="filter-menu__link">Комплекты украшений</a></li>
										<li><a href="" class="filter-menu__link">Серьги</a></li>
										<li><a href="" class="filter-menu__link">Кулоны и подвески</a></li>
										<li><a href="" class="filter-menu__link">Колье и бусы</a></li>
										<li><a href="" class="filter-menu__link">Браслеты</a></li>
										<li><a href="" class="filter-menu__link">Украшения для мужчин</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="content-block">
						<div class="catalog">
							<div class="catalog-items">
								<div class="catalog-items-sector">
									<div class="catalog-items-sector__title cnt title">Название категории</div>
									<div class="catalog-items-block">
										<div class="catalog-item ">
											<div class="catalog-item-content">
												<a href="" class="catalog-item-content__image ibg"><img src="img/catalog/01.png" alt="" /></a>
												<a href="" class="catalog-item-content__text">
													<span>Название украшения возможно в несколько строк, или может быть в три строки</span>
													<span>12 000 ₽</span>
												</a>
											</div>
											<a href="" class="catalog-item-hover">
												<span class="catalog-item-hover__btn btn-4">Смотреть</span>
											</a>
										</div>
										<div class="catalog-item">
											<div class="catalog-item-content">
												<a href="" class="catalog-item-content__image ibg"><img src="img/catalog/02.png" alt="" /></a>
												<a href="" class="catalog-item-content__text">
													<span>Название украшения возможно в несколько строк, или может быть в три строки</span>
													<span>12 000 ₽</span>
												</a>
											</div>
											<a href="" class="catalog-item-hover">
												<span class="catalog-item-hover__btn btn-4">Смотреть</span>
											</a>
										</div>
										<div class="catalog-item white">
											<div class="catalog-item-content">
												<a href="" class="catalog-item-content__image ibg"><img src="img/catalog/03.png" alt="" /></a>
												<a href="" class="catalog-item-content__text">
													<span>Название украшения возможно в несколько строк, или может быть в три строки</span>
													<span>12 000 ₽</span>
												</a>
											</div>
											<a href="" class="catalog-item-hover">
												<span class="catalog-item-hover__btn btn-4">Смотреть</span>
											</a>
										</div>
										<div class="catalog-item white_1">
											<div class="catalog-item-content">
												<a href="" class="catalog-item-content__image ibg"><img src="img/catalog/01.png" alt="" /></a>
												<a href="" class="catalog-item-content__text">
													<span>Название украшения возможно в несколько строк, или может быть в три строки</span>
													<span>12 000 ₽</span>
												</a>
											</div>
											<a href="" class="catalog-item-hover">
												<span class="catalog-item-hover__btn btn-4">Смотреть</span>
											</a>
										</div>
										<div class="catalog-item">
											<div class="catalog-item-content">
												<a href="" class="catalog-item-content__image ibg"><img src="img/catalog/02.png" alt="" /></a>
												<a href="" class="catalog-item-content__text">
													<span>Название украшения возможно в несколько строк, или может быть в три строки</span>
													<span>12 000 ₽</span>
												</a>
											</div>
											<a href="" class="catalog-item-hover">
												<span class="catalog-item-hover__btn btn-4">Смотреть</span>
											</a>
										</div>
										<div class="catalog-item white">
											<div class="catalog-item-content">
												<a href="" class="catalog-item-content__image ibg"><img src="img/catalog/03.png" alt="" /></a>
												<a href="" class="catalog-item-content__text">
													<span>Название украшения возможно в несколько строк, или может быть в три строки</span>
													<span>12 000 ₽</span>
												</a>
											</div>
											<a href="" class="catalog-item-hover">
												<span class="catalog-item-hover__btn btn-4">Смотреть</span>
											</a>
										</div>
										<div class="catalog-item white_1">
											<div class="catalog-item-content">
												<a href="" class="catalog-item-content__image ibg"><img src="img/catalog/01.png" alt="" /></a>
												<a href="" class="catalog-item-content__text">
													<span>Название украшения возможно в несколько строк, или может быть в три строки</span>
													<span>12 000 ₽</span>
												</a>
											</div>
											<a href="" class="catalog-item-hover">
												<span class="catalog-item-hover__btn btn-4">Смотреть</span>
											</a>
										</div>
										<div class="catalog-item">
											<div class="catalog-item-content">
												<a href="" class="catalog-item-content__image ibg"><img src="img/catalog/02.png" alt="" /></a>
												<a href="" class="catalog-item-content__text">
													<span>Название украшения возможно в несколько строк, или может быть в три строки</span>
													<span>12 000 ₽</span>
												</a>
											</div>
											<a href="" class="catalog-item-hover">
												<span class="catalog-item-hover__btn btn-4">Смотреть</span>
											</a>
										</div>
										<div class="catalog-item white">
											<div class="catalog-item-content">
												<a href="" class="catalog-item-content__image ibg"><img src="img/catalog/03.png" alt="" /></a>
												<a href="" class="catalog-item-content__text">
													<span>Название украшения возможно в несколько строк, или может быть в три строки</span>
													<span>12 000 ₽</span>
												</a>
											</div>
											<a href="" class="catalog-item-hover">
												<span class="catalog-item-hover__btn btn-4">Смотреть</span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

