<!DOCTYPE html>
<html lang="ru">
<head>
	<title>Доставка и оплата</title>
	<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
	<meta name="format-detection" content="telephone=no">
	<link type="text/css" rel="stylesheet" href="css/style.css">
	<link rel="shortcut icon" href="favicon.ico">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<div class="wrapper">
		<header>
	<div class="header-body">
		<div class="container">
			<a href="" class="header__logo"><img src="img/logo.svg" alt="" /></a>
			<div class="header-body-top">
				<div class="header-body-top-column">
					<ul class="header-body-menu">
						<li><a href="" class="header-body-menu__link">Где купить?</a></li>
						<li><a href="" class="header-body-menu__link">Доставка и оплата</a></li>
					</ul>
				</div>
				<div class="header-body-top-column">
					<ul class="header-body-menu">
						<li><a href="" class="header-body-menu__link">О нас</a></li>
						<li><a href="" class="header-body-menu__cart">Корзина <span><i>10</i></span></a></li>
						<li>
							<div class="header-body-lang">
								<div class="header-body-lang__title">RU</div>
								<div class="header-body-lang-box">
									<a href="" class="header-body-lang__item">RU</a>
									<a href="" class="header-body-lang__item">EN</a>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
			<div class="header-body-bottom">
				<div class="header-body-bottom-column">
					<div class="header-body-contacts">
						<a href="tel:+79251189581" class="header-body-contacts__phone">+7 925 118 95 81</a>
						<a href="" class="header-body-contacts__callback btn pl callback">Перезвонить</a>
					</div>
				</div>
				<div class="header-body-bottom-column">
					<div class="header-body-buttons">
						<a href="" class="header-body-buttons__item btn-2">Изделия на заказ</a>
						<a href="" class="header-body-buttons__item btn-2">Ремонт украшений</a>
					</div>
				</div>
			</div>
			<div class="header-menu__icon">
				<span></span>
				<span></span>
				<span></span>
			</div>
		</div>
	</div>
	<div class="header-bottom">
		<div class='container'>
			<div class="header-menu">
				<ul class="header-menu-list">
					<li><a href="" class="header-menu__link">Все коллекции</a></li>
					<li><a href="" class="header-menu__link">Кольца</a></li>
					<li><a href="" class="header-menu__link">Комплекты украшений</a></li>
					<li><a href="" class="header-menu__link">Серьги</a></li>
					<li><a href="" class="header-menu__link">Кулоны и подвески</a></li>
					<li><span class="header-menu-more">Ещё <span class="header-menu-more__icon"><span></span><span></span><span></span></span></span></li>
				</ul>
			</div>
		</div>
		<div class="header-submenu">
			<div class='container'>
				<div class="header-submenu-body">
					<div class="header-submenu-column">
						<div class="header-submenu__label">Коллекции</div>
						<ul class="header-submenu-list">
							<li><a href="" class="header-submenu__link">Коллекция 1</a></li>
							<li><a href="" class="header-submenu__link">Коллекция 2</a></li>
							<li><a href="" class="header-submenu__link">Коллекция 3</a></li>
							<li><a href="" class="header-submenu__link">Коллекция 4</a></li>
							<li><a href="" class="header-submenu__link">Коллекция 5</a></li>
							<li><a href="" class="header-submenu__link">Коллекция 6</a></li>
							<li><a href="" class="header-submenu__link">Коллекция 7</a></li>
						</ul>
					</div>
					<div class="header-submenu-column">
						<div class="header-submenu__label">Каталог</div>
						<ul class="header-submenu-list">
							<li><a href="" class="header-submenu__link">Кольца</a></li>
							<li><a href="" class="header-submenu__link">Комплекты урашений</a></li>
							<li><a href="" class="header-submenu__link">Серьги</a></li>
							<li><a href="" class="header-submenu__link">Кулоны и подвески</a></li>
							<li><a href="" class="header-submenu__link">Колье и бусы</a></li>
							<li><a href="" class="header-submenu__link">Браслеты</a></li>
							<li><a href="" class="header-submenu__link">Украшения для мужчин</a></li>
						</ul>
					</div>
					<div class="header-submenu-column">
						<div class="header-submenu__label">Компания</div>
						<ul class="header-submenu-list">
							<li><a href="" class="header-submenu__link">О нас</a></li>
							<li><a href="" class="header-submenu__link">Доставка и оплата</a></li>
							<li><a href="" class="header-submenu__link">Где купить?</a></li>
							<li><a href="" class="header-submenu__link">Политика конфиденциальности</a></li>
						</ul>
						<div class="header-submenu-social">
							<a href="" class="header-submenu-social__item fa fa-vk"></a>
							<a href="" class="header-submenu-social__item fa fa-facebook"></a>
							<a href="" class="header-submenu-social__item fa fa-instagram"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
		<div class="breadcrumbs">
			<div class='container'>
				<div class="breadcrumbs-body">
					<a href="" class="breadcrumbs__link">Главная</a>
					<span class="breadcrumbs__sepp">|</span>
					<span class="breadcrumbs__item">Доставка и оплата</span>
				</div>
			</div>
		</div>
		<div class="textpage">
			<div class='container'>
				<div class="textpage__title title cnt">Доставка и оплата</div>
				<div class="textpage-block">
					<div class="textpage__label">Доставка</div>
					<div class="textpage__text">
						<p>Доставка ювелирных изделий осуществляется в большинство населённых пунктов Российской Федерации. Максимальная сумма заказа для доставки составляет 50 000 рублей.</p>
						<p>Курьерская служба имеет ограниченные возможности доставки в сельскую местность и удалённые от районных центров мелкие населённые пункты. Мы рекомендуем в этом случае указывать ближайший районный центр.</p>
						<p>Заказанный товар доставляется курьерской службой, имеющей право на доставку ювелирных изделий. Товар вручается покупателю лично.</p>
						<p>Сохранность доставленного товара проверяется прямо на месте в присутствии курьера.</p>
						<p>После оформления заказа, Вам позвонит наш менеджер и уточнит детали покупки. В случае, если по указанным Вами координатам, связаться с Вами не удалось, Вам будет отправлен e-mail с соответствующим уведомлением, а доставка будет отложена.</p>
					</div>
				</div>
				<div class="textpage-block">
					<div class="textpage__label">Оплата</div>
					<div class="textpage__text">
						<p><strong>Наличный расчет</strong></p>
						<p>Расчет за изделия производится наличными непосредственно с курьером в момент доставки, после проверки Вами всех изделий заказа.</p>
						<p>Курьер предоставляет все необходимые сопроводительные документы.</p>
						<p>Оплата стоимости доставки производится одновременно с оплатой товара.</p>
						<p><strong>Безналичный расчет (предоплата)</strong></p>
						<p>При оформлении заказа, в корзине необходимо выбрать вариант оплаты «Предоплата».</p>
						<p>Заказанные изделия бронируются в течение нескольких часов. Вам на e-mail или на факс выставляется счёт.</p>
					</div>
				</div>
				<div class="textpage-block">
					<div class="textpage__label">Возврат</div>
					<div class="textpage__text">
						<p>Курьер приезжает к Вам по адресу, который Вы указали при оформлении заказа на нашем сайте (или по телефону с менеджером).</p>
						<p>Курьер привозит заказанные украшения в собственной упаковке курьерской службы.</p>
						<p>Курьер передает Вам заказ в руки только после получения от Вас наличных средств за изделие и доставку (в случае наложенного платежа). Только получив от Вас деньги, курьер имеет право передать Вам заказ на проверку. Если Вы получаете заказ по предоплате, то этот шаг можете пропустить.</p>
						<p>Обязательно проверяйте целостность упаковки в присутствии курьера! В случае, если после получения заказа Вы обнаружили брак, или изделие Вам не подошло, Вы можете отказаться от заказа. Для этого Вам необходимо самостоятельно отправить изделие почтовой курьерской службой по адресу: г. Москва, ул. 3-я Мытищинская, д.16, ИП Малышевой. Возврат денег будет произведен по указанным Вами реквизитам после доставки возврата. Внимание! Перед тем, как оформить возврат, свяжитесь с менеджерами студии для уточнения дальнейших действий.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="form">
	<div class="form__title title">Подпишись на рассылку <br /> и узнай первым о новых украшениях!</div>
	<form data-m="m_1" action="#" class="form-body hm">
		<div class="form-body-row">
			<div class="form-body-column">
				<input type="text" name="form[]" data-value="Ваше имя" class="input" />
			</div>
			<div class="form-body-column">
				<input type="text" name="form[]" data-value="Ваш email" class="input email req" />
			</div>
		</div>
		<div class="form-body-check">
			<div class="check">Я принимаю <a href="">условия конфиденциальности</a> <input type="checkbox" value="1" class="req" name="form[]" /></div>
		</div>
		<div class="form-body-button">
			<button type="submit" class="form__btn btn-3">Подписаться</button>
		</div>
	</form>
</div>
		<footer>
	<div class='container'>
		<div class="footer-body">
			<div class="footer-column">
				<a href="" class="footer__logo"><img src="img/logo_w.svg" alt="" /></a>
			</div>
			<div class="footer-column">
				<div class="footer-content">
					<div class="footer-content-column">
						<ul class="footer-menu">
							<li><a href="" class="footer-menu__link">О нас</a></li>
							<li><a href="" class="footer-menu__link">Изделия на заказ</a></li>
							<li><a href="" class="footer-menu__link">Ремонт украшений</a></li>
						</ul>
					</div>
					<div class="footer-content-column">
						<ul class="footer-menu">
							<li><a href="" class="footer-menu__link">Где купить?</a></li>
							<li><a href="" class="footer-menu__link">Доставка и оплата</a></li>
						</ul>
					</div>
					<div class="footer-content-column">
						<div class="footer-social">
							<a href="" class="footer-social__link fa fa-vk"></a>
							<a href="" class="footer-social__link fa fa-facebook"></a>
							<a href="" class="footer-social__link fa fa-instagram"></a>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-column">
				<div class="footer-dev">
					<div class="footer-dev__label">Разработка сайта:</div>
					<a href="" class="footer-dev__item"><img src="img/icons/dev.svg" alt="" /></a>
				</div>
			</div>
		</div>
	</div>
</footer>
	</div>
	<div class="popup popup-callback">
	<div class="popup-table table">
		<div class="cell">
			<div class="popup-content">
				<div class="popup-close"></div>
				<div class="form__title title">Заполните форму<br />и мы перезвоним вам</div>
				<form data-m="m_1" action="#" class="form-body hm">
					<div class="form-body-row">
						<div class="form-body-column">
							<input type="text" name="form[]" data-value="Ваше имя" class="input" />
						</div>
						<div class="form-body-column">
							<input type="text" name="form[]" data-value="Ваш телефон" class="input req" />
						</div>
					</div>
					<div class="form-body-button">
						<button type="submit" class="form__btn btn-3">Отправить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="popup popup-othersize">
	<div class="popup-table table">
		<div class="cell">
			<div class="popup-content">
				<div class="popup-close"></div>
				<div class="form__title title">Укажите ваш размер</div>
				<form data-m="m_2" action="#" class="form-body hm">
					<div class="form-body-row">
						<div class="form-body-column">
							<input type="text" name="form[]" data-value="Ваш размер" class="input req" />
							<div class="form-body__text">Украшения на заказ доставляются примерно через 3 недели после получения оплаты. Подробную информацию можно получить у менеджера после оформления заказа.</div>
						</div>
						<div class="form-body-column">
							<textarea name="form[]" data-value="Комментарий" class="input"></textarea>
						</div>
					</div>
					<div class="form-body-button">
						<button type="submit" class="form__btn btn-3">Добавить в корзину</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<div class="popup popup-incart m_2">
	<div class="popup-table table">
		<div class="cell">
			<div class="popup-content">
				<div class="popup-close"></div>
				<div class="form__title title">Товар добавлен в корзину</div>
				<div class="popup-incart-body">
					<div class="popup-incart__image"><img src="img/catalog/01.png" alt="" /></div>
					<div class="popup-incart__name">Название украшения</div>
					<div class="popup-incart__size">Размер: 16</div>
					<div class="popup-incart-buttons">
						<a href="" class="popup-incart-buttons__btn btn-5 popup__close">Продолжить покупки</a>
						<a href="" class="popup-incart-buttons__btn btn-3">Оформить заказ</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="popup popup-message m_1">
	<div class="popup-table table">
		<div class="cell">
			<div class="popup-content">
				<div class="popup-close"></div>
				<div class="popup-message__title title">Спасибо! <br />Мы перезвоним вам <br /> в ближайшее время</div>
				<a href="" class="popup__close btn-3">Ок</a>
			</div>
		</div>
	</div>
</div>
<div class="popup popup-video">
	<div class="popup-table table">
		<div class="cell">
			<div class="popup-close"></div>
			<div class="popup-video__value"></div>
		</div>
	</div>
</div>
	<script src="https://maps.google.com/maps/api/js?sensor=false&amp;key=AIzaSyAnTDLrncoU26a3S_WQOZQ0G3evEWWR29E"></script>
	<script src="https://code.jquery.com/jquery-latest.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
	<script src="js/jquery.inputmask.bundle.min.js"></script>
	<script src="js/jquery.nicescroll.min.js"></script>
	<script src="js/jquery.popover.min.js"></script>
	<script src="js/jquery.ui.touch-punch.min.js"></script>
	<script src="js/slick.min.js"></script>
	<script src="js/forms.js"></script>
	<script src="js/script.js"></script>
</body>
</html>
